<section id="section1" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="polyscape-1" class="polyscape-background">
          <div class="square-rotated"></div>
          <div class="square"></div>
          <div class="circle">
            <img class="logo" src="../../assets/images/JhNoFill.png" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section2">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="about">About</h1>
      </div>
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <img class="crossBanner" src="../../assets/images/crossBanner.png" alt="horizontal line">
      </div>
    </div>
  </div>
</section>