#section1 {
  min-height: 90vh;
  background-image: url("../../../src/assets/images/landing.png");
  /* background-color:black;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingTitle {
  color: white;
}

#section2 {
  padding-top: 3%;
  padding-bottom: 3%;
  min-height: 90vh;
     background-image: url("../../../src/assets/images/about.jpg"); 
       background-repeat: no-repeat;
         background-attachment: fixed;
  background-size: cover;

}



.contact {
  color: red;
  font-family: 'Great Vibes', cursive;
  font-size: 550%;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}


.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}

.section2:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.whoAmI {
  color: black !important;
}

.logo {
  width: 100%;
  height: auto;
}

.aboutParent {
  height: 100%;
}

.aboutClip {
  background-color: rgb(126, 135, 132);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 100%;
  width: 10%;
}

.polyscape-background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.crossBanner {
  width: auto;
  height: 60%;
}

.polyscape-background>div {
  position: absolute;
}

#polyscape-1 {
  background-image: url("../../../src/assets/images/landing.png");
  background-repeat: no-repeat;
}

#polyscape-1 .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: url("../../../src/assets/images/landing.png") fixed center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: hue-rotate(60deg) contrast(200%);
}

#polyscape-1 .square-rotated {
  width: 480px;
  height: 480px;
  transform: rotate(45deg);
  filter: invert(25%);
  border: 200px solid transparent;
  border-image: url("../../../src/assets/images/landing.png") 200 stretch;
}

#polyscape-1 .square {
  width: 480px;
  height: 480px;
  border: 10px solid #fff;
  background: url("../../../src/assets/images/landing.png") fixed center;
  background-size: cover;
}
.colNoPadding {
  padding: 0;
}

/*   
rgb(28, 34, 34);
rgb(38, 42, 38);
rgb(52, 56, 43);
rgb(65, 65, 45));
rgb(79, 70, 49);
 */
