<section id="section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 darkBackground">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="contact" src="../../assets/images/typewriter.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img class="contactWord" src="../../assets/images/contactWord.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 lightBackground colNoPadding d-flex justify-content-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>words</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lightBackground">
      <div class="col-md-8 offset-md-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 messageParent">
            <h3>Name</h3>
            <input [(ngModel)]="name" type="text" class="form-control" id="inputEmail" placeholder="John Doe">
          </div>
          <div class="col-md-6 messageParent">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 messageParent">
            <h3>Email</h3>
            <input [(ngModel)]="email" type="text" class="form-control" id="inputEmail" placeholder="johndoe@gmail.com">
          </div>
          <div class="col-md-6 messageParent">
            <h3>Phone</h3>
            <input [(ngModel)]="phone" type="text" class="form-control" id="inputEmail" placeholder="(303) 555-0834">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 messageParent">
            <h3>Message</h3>
            <textarea [(ngModel)]="message" class="form-control" rows="3" id="textArea"></textarea>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
              <button (click)="sendMessage()" type="submit" class="btn btn-primary customBtn">Submit</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>