<section id="section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 darkBackground">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="myFace" src="../../assets/images/myFace.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="aboutWord" src="../../assets/images/about.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 lightBackground colNoPadding d-flex justify-content-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center aboutMeBlerb">
              <p>Hello, my name is Jeff and I'm a people person.  I like talking to people about ideas and what they're excited about - I think this can be a good way to get cool ideas going.</p>
              <p>I've studied both Web Development and Sociology and I'm passionate about both because I think they both have the potential to create and direct awesome things.</p>
              <p>I'm into two-stepping, the occasional jam sessions, and I love board games.  I'm always down to play games like Catan, Pandemic, Cosmic Encounter, and even a fun D&D campaign.</p>
              <p>My current project I'm excited about is Research Spirit Guide.  I'm hoping to provide an online guide for creating social research projects to help undergrad students.  I'm trying to work with Social Science majors to make these guides as robust, accurate, and helpful as possible.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
