* {
  color: black;
}

.projectsBackground {
  background-color: rgb(230, 230, 230);
  padding-top: 3%;
  padding-bottom: 3%;
  /* min-height: 90vh; */
}

.leftProjectBackground {
  background-color: rgb(245, 245, 245);
  padding-top: 10%;
  padding-bottom: 10%;
}

.projectsIconBackground {
  background-image: url("../../../src/assets/images/projects.jpg");
  padding-top: 8%;
  padding-bottom: 8%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 90vh; */
}

.projects {
  color: rgb(19, 22, 31);
  font-family: 'Great Vibes', cursive;
  font-size: 550%;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

#section3 {
  background-color: white;
}

.icons {
  width: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.projectsContainer {
  padding-top: 5%;
  padding-bottom: 10%;
}

h3 {
  font-family: 'Great Vibes', cursive;
}

.projectRows {
  padding-top: 8%;
}

.projectRowsTop {
  padding-top: 4%;
}

.lineParent {
  position: relative;
  width: 100%;
}

.borderVertical1 {
  position: absolute;
  height: 171%;
  width: 25%;
  left: 37%;
  /* background-color: black; */
  border-left: 3px solid white;
  border-right: 3px solid white;
}


/* .borderVertical2 {
  position: absolute;
  height: 607%;
  width: 3px;
   left: 60%; 
  background-color: black;
  border: 1px solid black;
} */

.borderHorizontal1 {
  /* display: none; */
  position: absolute;
  height: 50%;
  width: 25%;
  /* background-color: black; */
  border-bottom: 2px solid white;
}

.borderHorizontal2 {
  /* display: none; */
  position: absolute;
  left: 75%;
  height: 50%;
  width: 25%;
  /* background-color: black; */
  border-bottom: 2px solid white;
}

.descriptionBorder {
  background-image: url("../../../src/assets/images/projects.jpg");
  border: 4px solid white;
  padding: 4%;
}

.test {
  color: white;
}

.descriptionBorder2 {
  background-color: rgb(230, 230, 230);
  border: 4px solid black;
  padding: 4%;
}

.clippyParent {
  position: relative;
}

.clippy {
  width: 100%;
  height: 100%;
  background-color: rgb(85, 107, 47);
  opacity: 0.5;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
  clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
}

.clippy2 {
  width: 100%;
  height: 100%;
  background-color: rgb(85, 107, 47);
  opacity: 0.5;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
  clip-path: polygon(100% 100%, 100% 0%, 0% 11%, 34% 24%);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.crossBanner {
  width: 80%;
  height: auto;
}

.puzzle {
  width: 65%;
  height: auto;
  padding-bottom: 5%;
}
.proficiencies {
  padding-bottom: 5%;
}
.h5 {
  line-height: 5%;
}
.bowTie {
  padding-top: 2%;
  width: 55%;
}
.projectWord {
  margin: 0 auto;
}