<section id="section3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 leftProjectBackground">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center proficiencies">Proficiencies</h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-6">
              <h5>JavaScript</h5>
              <h5>Angular</h5>
              <h5>Vue.js</h5>
              <h5>TypScript</h5>
              <h5>Bootstrap</h5>
              <h5>PostgresSQL</h5>
              <h5>Node.js</h5>
              <h5>Express</h5>
              <h5>Knex</h5>
              <h5>JQuery</h5>
            </div>
            <div class="col-md-6">
              <h5>Github</h5>
              <h5>RESTFUL APIs</h5>
              <h5>JavaScript</h5>
              <h5>HTML</h5>
              <h5>CSS</h5>
              <h5>Photoshop</h5>
              <h5>Illustrator</h5>
              <h5>SASS</h5>
              <h5>Firebase</h5>
              <h5>Heroku</h5>
              <h5>Bootstrap</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 projectsIconBackground d-flex align-items-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="puzzle" src="../../assets/images/puzzle.png" alt="horizontal line">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="projectWord" src="../../assets/images/projects.png" alt="horizontal line">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid projectsContainer projectsBackground">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <a href="https://researchspiritguide.com/">
            <img class="icons" src="../../assets/images/researchSpiritGuide.png" alt="">
          </a>
          <h2>Research Spirit Guide</h2>
          <p>This is a resource for social science students who are building social research projects. This site is intended
            to take the user through the process of creating a research project by giving tips and information</p>
        </div>
        <div class="col-md-6">
          <a href="https://flashrhino.com/">
            <img class="icons" src="../../assets/images/flashRhino.png" alt="">
          </a>
          <h2>Flash Rhino</h2>
          <p>This allows students to earn badges by creating and studying personalized flash cards</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="https://spacehub.us/">
            <img class="icons" src="../../assets/images/spaceHub.png" alt="">
          </a>
          <h2>Space Hub</h2>
        </div>
        <div class="col-md-6">
          <a href="https://thesaurus-rex.firebaseapp.com/#">
            <img class="icons" src="../../assets/images/thesaurusRex.png" alt="">
          </a>
          <h2>Thesaurus Rex</h2>
        </div>
      </div>
    </div>
  </div>
</section>
