<section id="section3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center leftProjectBackground">
      </div>
      <div class="col-md-6 projectsIconBackground">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 d-flex justify-content-center align-items-center">
              <img class="puzzle" src="../../assets/images/puzzle.png" alt="horizontal line">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="projectWord" src="../../assets/images/projects.png" alt="horizontal line">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid projectsContainer projectsBackground">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <img class="icons" src="../../assets/images/researchSpiritGuide.png" alt="">
          <h2>Research Spirit Guide</h2>
          <p>This is a resource for social science students who are building social research projects. This site is intended
            to take the user through the process of creating a research project by giving tips and information</p>
        </div>
        <div class="col-md-6">
          <img class="icons" src="../../assets/images/flashRhino.png" alt="">
          <h2>Flash Rhino</h2>
          <p>This allows students to earn badges by creating and studying personalized flash cards</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Space Hub</h2>
          <img class="icons" src="../../assets/images/spaceHub.png" alt="">
        </div>
        <div class="col-md-6">
          <h2>Thesaurus Rex</h2>
          <img class="icons" src="../../assets/images/thesaurusRex.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
