<section id="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="projects">Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <img class="crossBanner" src="../../assets/images/crossBanner2.png" alt="horizontal line">
      </div>
    </div>
  </div>
  <div class="container projectsContainer">
    <div class="row projectRowsTop">
      <div class="col-md-5 text-center">
        <div class="descriptionBorder">
          <h3>Research Spirit Guide</h3>
          <p>Research Spirit Guide is a resource for social science majors which allows the user to create a research project
            in a step-by-step proecsss</p>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div class="lineParent">
          <div class="borderVertical1">


          </div>
          <div class="borderVertical2">


          </div>
          <div class="borderHorizontal1">

          </div>
          <div class="borderHorizontal2">

          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class="icons" src="../../assets/images/researchSpiritGuide.png" alt="horizontal line">
      </div>
    </div>
    <div class="row projectRows">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class="icons" src="../../assets/images/spaceHub.png" alt="horizontal line">
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div class="lineParent">
          <div class="borderVertical1">


          </div>
          <div class="borderVertical2">


          </div>
          <div class="borderHorizontal1">

          </div>
          <div class="borderHorizontal2">

          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <div class="descriptionBorder">
          <h3>Space Hub </h3>
          <p>Space Hub connects venue owners with groups trying to find a venue</p>
        </div>
      </div>
    </div>
    <div class="row projectRows">
      <div class="col-md-5 text-center">
        <div class="descriptionBorder">
          <h3>Flash Rhino</h3>
          <p>Flash Rhino allows users to earn badges by creating and studying sets of flash cards</p>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div class="lineParent">
          <div class="borderVertical1">


          </div>
          <div class="borderVertical2">


          </div>
          <div class="borderHorizontal1">

          </div>
          <div class="borderHorizontal2">

          </div>
        </div>

      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class="icons" src="../../assets/images/flashRhino.png" alt="horizontal line">
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="row projectRows">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class="icons" src="../../assets/images/thesaurusRex.png" alt="horizontal line">
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div class="lineParent">
          <div class="borderVertical1">


          </div>
          <div class="borderVertical2">


          </div>
          <div class="borderHorizontal1">

          </div>
          <div class="borderHorizontal2">

          </div>
        </div>

      </div>
      <div class="col-md-5 text-center">
        <div class="descriptionBorder">
          <h3>Thesaurus Rex</h3>
          <p>Thesaurus Rex allows users to input a sentence and then returns a similiar sentence with randomly generated synonyms</p>
        </div>
      </div>
    </div>
  </div>
</section>
