*{
  font-family: 'Raleway', sans-serif;
}
.about {
  font-family: 'Great Vibes', cursive;
  font-size: 550%;
  color: white;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

.crossBanner {
  width: auto;
  height: 60%;
}

.darkBackground {
  padding-top: 3%;
  padding-bottom: 3%;
  /* min-height: 200vh; */
  background-image: url("../../../src/assets/images/contactBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 550%;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

.icons {
  width: 50%;
}

.projectsContainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: 'Great Vibes', cursive;
}

.projectRows {
  padding-top: 8%;
}

.projectRowsTop {
  padding-top: 4%;
}

.lineParent {
  position: relative;
  width: 100%;
}

.borderVertical1 {
  position: absolute;
  height: 80%;
  width: 3px;
  left: 40%;
  background-color: white;
}

.borderVertical2 {
  position: absolute;
  height: 80%;
  width: 3px;
  left: 60%;
  background-color: white;
}

.borderHorizontal1 {
  /* display: none; */
  position: absolute;
  height: 50%;
  width: 25%;
  /* background-color: white; */
  border-bottom: 2px solid white;
}

.borderHorizontal2 {
  /* display: none; */
  position: absolute;
  left: 75%;
  height: 50%;
  width: 25%;
  /* background-color: white; */
  border-bottom: 2px solid white;
}

.descriptionBorder {
  background-color: rgb(0, 128, 128);
  border: 4px solid white;
  padding: 4%;
}
.technologies {
    border: 4px solid white;
  padding: 4%;

}

.clippyParent {
  position: relative;
}

.clippy {
  width: 100%;
  height: 100%;
  background-color: rgb(85, 107, 47);
  opacity: 0.5;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
  clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
}

.clippy2 {
  width: 100%;
  height: 100%;
  background-color: rgb(85, 107, 47);
  opacity: 0.5;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 22%, 100% 11%);
  clip-path: polygon(100% 100%, 100% 0%, 0% 11%, 34% 24%);
}

.crossBanner {
  width: 80%;
  height: auto;
}
.lines {
  width: 50px !important;
}
.myFace {
  width: 55%;
}
colNoPadding {
  padding: 0;
}
.lightBackground {
  background-color: rgb(230, 230, 230);
  padding-top: 5%;
}