<section id="section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 darkBackground">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <h1 class="about">contact</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img class="contact" src="../../assets/images/typewriter.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 lightBackground colNoPadding d-flex justify-content-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>my name is</p>
              <h1>Jeff Hernandez,</h1>
              <p>I am a</p>
              <h2>Full Stack Web Developer</h2>
              <p>and</p>
              <h2>UI Designer</h2>
              <p>because</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 lightBackground text-center">
        <h1>hello</h1>
      </div>
    </div>
  </div>
</section>
